:root{
    font-size: 10px;
    --White: hsl(0, 0%, 100%);
    --Off_white: hsl(0, 0%, 94%);
    --Light_grey: hsl(0, 0%, 86%);
    --Smokey_grey: hsl(0, 1%, 44%);
    --Off_black: hsl(0, 0%, 8%);
    --Purple: hsl(259, 100%, 65%);
    --Light_red: hsl(0, 100%, 67%);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Light_grey);
}
section{
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 2.5rem;
    background-color: var(--White);
    border-radius: 1.5rem 1.5rem 6rem 1.5rem;
    width: 50rem;
}
.date-info{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 3rem;
}
.date-info div{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}
label{
    color: var(--Smokey_grey);
    font-weight: 700;
}
input{
    width: 9rem;
    padding: 1.3rem;
    border-radius: .5rem;
    border: 1px solid var(--Light_grey);
}
input::placeholder{
    font-weight: 800;
    color: var(--Smokey_grey);
}
input:hover{
    border: 1px solid var(--Purple);
    cursor: pointer;
}
.submit-section{
    display: flex;
    align-items: center;
}
.submit-section hr {
    height: .1rem;
    width: 80%;
    background-color: var(--Light_grey);
}
.submit-section button{
    border-radius: 50%;
    border: none;
    padding: .4rem;
    background-color: var(--Purple);
    width: 6rem;
    height: 6rem;
}
.submit-section button img{
    width:3.5rem;
}

.output-section{
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}
.output-section h1 {
    font-size: 4.3rem;
    font-weight: 800;
    font-style: italic;
}
.output-section h1 span{
    color: var(--Purple);
}

@media screen and (max-width:375px){
    section{
        width: 28rem;
    }
    .date-info{
        margin-bottom: 5rem;
    }
    .submit-section button{
        position: absolute;
        left: 40%;
    }
    .submit-section hr{
        width: 100%;
    }
    input{
        width: 7rem;
    }

}